:root {
    --colorMain: black;
    --colorBgMain: white;
    --colorBgSecondary: #0B61A5;
    --colorBgHover: #EEE;
    --colorError: red;

    --fontMain: Verdana, Arial, Helvetica, sans-serif;
}