body {
    > header, > footer {
        margin: 0;
        padding: 0.5rem 1rem;
        text-align: center;
        background-color: var(--colorBgSecondary);
        p, a {
            margin-bottom: 0;
            color: var(--colorBgMain);
        }
    }
}

nav {
    margin: 0.5rem 0;
    ul li a {
        padding: 0.25rem 1rem;
    }
}

form {
    margin: 0 1rem;
    div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        min-height: 1.5rem;
        margin-bottom: 0.5rem;

        label {
            width: 10rem;
        }
        input[type=text], input[type=email], input[type=password], textarea {
            min-width: 15rem;
        }
        
        textarea {
            height: 4rem;
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }
    }
}